---
import Layout from '../layouts/Layout.astro';
import ContactMe from '../components/ContactMe.astro';
import GoBackLink from '../components/GoBackLink.astro';
---

<Layout title="Contact me">
	<GoBackLink />
	<h1>Contact me</h1>
	<ContactMe />
</Layout>
