---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home Page">
	<h1>Welcome to my <span class="gradient">Portfolio</span></h1>
	<ul role="list" class="link-card-grid">
		<Card
			href="/docs/astro"
			title="Documentation"
			body="Learn how Astro works and explore the official API docs."
		/>
		<Card
			href="/projects"
			title="My projects"
			body="All the projects that I made."
		/>
		<Card href="/me" title="About me" body="a summary about myself." />
	</ul>
</Layout>
