---
import Card from '../components/Card.astro';
import GoBacckLink from '../components/GoBackLink.astro';
import ListProject from '../components/ListProject.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
	<GoBacckLink />
	<ListProject title="My personal projects">
		<Card target title="Chinese Dico" href="https://chinese-dico.vercel.app">
			<p>A Chinese - French dictionary</p>
			<p>Made with <strong>Next.js</strong></p>
		</Card>
		<Card
			target
			title="Light tiles off"
			href="https://light-tiles-off.vercel.app"
		>
			<p>Just a game, have fun!</p>
			<p>Made with <strong>Next.js</strong></p>
		</Card>
	</ListProject>
	<ListProject title="My group projects">
		<Card target title="KRYP Ticket" href="https://kryp-ticket.vercel.app">
			<p>A ticket system made for student, to help each other.</p>
			<p>Made with <strong>Next.js</strong></p>
			<small>Worked on with <strong>Khai</strong></small>
		</Card>
		<Card title="FlowVerse">
			<p>
				Automate the evaluation of candidate soft skills efficiently using AI.
			</p>
			<p>Made with <strong>Next.js</strong>, <strong>Hono</strong></p>
			<small>Worked on with <strong>group</strong></small>
		</Card>
		<Card title="Crep'Way">
			<p>
				A website for a restaurant that sells crepes, waffles, and drinks.
				<br />
				It has 3 parts: the <b>client</b>, the <b>admin</b>, and the <b>API</b>.
				<br />
				- The client can order food and drinks.
				<br />
				- The admin can manage the menu and the orders.
				<br />
				- The API is used by the client and the admin.
			</p>
			<p>Made with <strong>Next.js</strong>, <strong>Elysia</strong></p>
			<small>Worked on with <strong>group</strong></small>
		</Card>
	</ListProject>
	<ListProject title="My school projects">
		<Card title="Hyrule Castle">
			<p>
				A game on terminal, we need to beat the enemie to get on the next floor.
				There's many characters with different abilities
			</p>
			<p>Made with <strong>Typescript</strong></p>
		</Card>
		<Card title="Free GG">
			<p>
				A mobile application that lists all free games using the
				<a href="https://www.freetogame.com/api-doc" target="_blank"
					>FreeToGame API</a
				>.
			</p>
			<p>Made with <strong>Expo</strong></p>
		</Card>
	</ListProject>
</Layout>
