---
import conf from "../../config.json";

interface Props {
  /** text before the name, like "Worked on with" */
  pre?: string;
  /** name of the contributor, should be a key in config.json contributors */
  name: keyof typeof conf.contributors;
  /** target can be `linkedin` or `github` */
  target?: "linkedin" | "github";
  /** by default, the tag is `small` */
  tag?: "p" | "small";
}

const { pre, name, target, tag } = Astro.props;

// make the first letter of the name uppercase
const displayName = name.charAt(0).toUpperCase() + name.slice(1);
const Tag = tag || "small";
---

<Tag>{pre}
  {
    target ? (
      <a href={conf.contributors[name][target]}>{displayName}</a>
    ) : (
      <span>{displayName}</span>
    )
  }
</Tag>

<style>
  a {
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
  span {
    font-weight: bold;
  }
  p {
    display: inline;
  }
</style>
