---
interface Props {
  conf: {
    infos: {
      author: string
    }
  }
}
const { conf } = Astro.props;
---

<footer>
	<p>
		Theme <a target="_blank" href="https://starlight.astro.build/"
			><b>Starlight</b></a
		> by <a target="_blank" href="https://astro.build/"><b>Astro</b></a>
	</p>
	<p>&copy; {new Date().getFullYear()} <b>{conf.infos.author}</b></p>
</footer>

<style>
	footer {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		max-width: 67.5rem;
		padding-top: 3rem;
		margin-inline: auto;
	}
</style>
