---
import conf from '../../config.json';
import Layout from './Layout.astro'

type Frontmatter = {
	author: string;
	description: string;
};

type Props = {
	frontmatter: Frontmatter;
};

const birthdate = conf.infos.birthdate;
const { frontmatter } = Astro.props;
---

{frontmatter.author && <small>By {frontmatter.author}</small>}
{frontmatter.description && <p>{frontmatter.description}</p>}

<Layout>
	<slot />
</Layout>

<script is:inline define:vars={{ birthdate }}>
	const calculateAge = () => {
		const timeDiff = Math.abs(Date.now() - new Date(birthdate).getTime());

		return Math.floor(timeDiff / (1000 * 3600 * 24) / 365.25).toString();
	};

	const myagespan = document.querySelector('[data-my-age]');
	if (myagespan) myagespan.textContent = calculateAge();
</script>

<style is:global>
	:root {
		/* rgb(61 80 245); */
		--accent: 61, 80, 245;
	}
	[data-theme='dark'] {
		/* rgb(179 199 255); */
		--accent: 179, 199, 255;
	}
	small {
		display: block;
		margin-bottom: 1rem;
	}
	p:has(> a > img) {
		display: inline-flex;
	}
</style>
