---
import Layout from './Layout.astro'

type Frontmatter = {
	author: string;
	description: string;
};

type Props = {
	frontmatter: Frontmatter;
};

const { frontmatter } = Astro.props;
---

{frontmatter.author && <small>By {frontmatter.author}</small>}
{frontmatter.description && <p>{frontmatter.description}</p>}

<Layout>
	<slot />
</Layout>

<style is:global>
	:root {
		/* rgb(61 80 245); */
		--accent: 61, 80, 245;
	}
	[data-theme='dark'] {
		/* rgb(179 199 255); */
		--accent: 179, 199, 255;
	}
	small {
		display: block;
		margin-bottom: 1rem;
	}
	p:has(> a > img) {
		display: inline-flex;
	}
</style>
