---
import Layout from './Layout.astro';
import GoToTop from '../components/GoToTop.astro';

type Frontmatter = {
	title: string;
	description?: string;
	author?: string;
};

type Props = {
	frontmatter: Frontmatter;
};

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<section>
		<h1>{frontmatter.title}</h1>
		{frontmatter.author && <small>By {frontmatter.author}</small>}
		{frontmatter.description && <p class="block">{frontmatter.description}</p>}
	</section>
	<slot />
	<GoToTop />
</Layout>
