---
import conf from '../config.json';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {conf.infos.author} Portfolio</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	main {
		flex: 1;
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	small {
		opacity: 0.8;
	}
	a {
		color: rgba(var(--accent-light));
	}
	a:hover {
		color: rgb(var(--accent));
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		word-wrap: break-word;
	}
	.gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.block {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	code:not(pre code) {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
		word-wrap: break-word;
	}
	pre {
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
	}
	strong {
		color: rgb(var(--accent-light));
	}
	blockquote {
		padding: 0.5rem 40px;
		margin: 1rem 0;
		background: rgba(var(--accent-light), 12%);
		border-left: 5px solid rgba(var(--accent-light));
	}
	table {
		box-shadow: 0 0 0 1px rgba(var(--accent-light));
		border-spacing: 0;
	}
	thead {
		display: grid;
		justify-content: center;
		padding-block: 0.5rem;
		box-shadow: 0 0 0 1px rgba(var(--accent-light));
	}
	tbody {
		display: grid;
		gap: 0.5rem;
		padding: 1rem 2rem;
	}
</style>
